@tailwind base;
@tailwind components;
@tailwind utilities;






@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  label{
    font-weight:600;
    color:white;
   
  input:hover, input:focus{
    background-color:transparent;
  }
  
}
}
